@import "tailwindcss";

@layer base {
  [x-cloak] { display: none !important; }
  
  .custom-scrollbar::-webkit-scrollbar { 
    width: 4px; 
  }
  .custom-scrollbar::-webkit-scrollbar-thumb { 
    background: #e4e4e7; 
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover { 
    background: #18181b; 
  }

  body {
    /* 在 v4 中，如果你在 CSS 中使用 @apply，需要确保类名已存在 */
    @apply bg-[#fafafa] antialiased text-zinc-900;
  }
}
