/* 工业风辅助工具类 - 物理加固版 */

/* 隐藏滚动条但保留功能 */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 0px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #18181b;
}
